#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
test-output/
APICalls.*
Rest.*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

