#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.log
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
test-output/
APICalls.*
Rest.*
src/test/resources/Features/OCD-2006-UploadListingsRegularly.feature

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#################
## Custom
#################
.checkstyle
